/*
  Jason, Elben, Lily, Fahad
  11/15/2019
  Game Page Styles
  These are the styles for our website.
*/
body {
  background-image: url("../assets/images/background7.jpg");
  background-size: 100%;
  font-family: verdana;
  color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  margin-top: -0.6%;
  font-size: 25px;
  opacity: 0.9;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
nav li a:hover {
  background-color: red;
}
.file:hover {
  font-weight: bold;
}
nav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

nav li.dropdown {
  display: inline-block;
}

#rulesPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {
  display: block;
}
.paragraph {
	border-style: solid;
	width: 65%;
	left: 25%;
	display: block;
	margin-left: 16%;
	padding: 20px;
	background-color: rgb(139,0,0,0.8);
}
.screenshots {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a {
  text-decoration: none;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}